Repository TimeEval/TimeEval, pull requests merged in 2024-03, with the labels that each got.

#123 Update description of TimeEval result concept page
  docs/concepts/results.md
Labels: comp: :book: documentation

#130 Support and test for python versions up to 3.11
  .github/workflows/build.yml
  .github/workflows/test-pr.yml
  README.md
  setup.py
  timeeval/timeeval.py
Labels: dependencies

#131 Allow TimeEval runs without computing metrics
  tests/test_timeeval_exceptions.py
  timeeval/_core/experiments.py
  timeeval/metrics/metric.py
  timeeval/timeeval.py
Labels: enhancement, :medal_sports: low, comp: :hash: scoring, comp: TimeEval (general)

#132 Store raw algorithm scorings in result folder
  docs/concepts/results.md
  tests/test_output_data.py
  timeeval/_core/experiments.py
  timeeval/constants.py
Labels: enhancement, :medal_sports: low, comp: TimeEval (general)
